{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
		
          <!-- content -->
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Add Node</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>				
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form action="." method="post" id="node-form" data-parsley-validate class="form-horizontal form-label-left">
					{% csrf_token %}

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="service-id">Service ID <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="heard" class="form-control" required>
                            <option value="">Please select a service..</option>
                            <option value="press">Press</option>
                            <option value="net">Internet</option>
                            <option value="mouth">Word of mouth</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="node-name">Node Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="node-name" required="required" name="node_name" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
					  <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Node ID <span class="required">*</span>
						</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="node-id" name="node_id" required="required" class="form-control " placeholder="FF0001">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="node-type" class="control-label col-md-3 col-sm-3 col-xs-12">Node Type <span class="required">*
						</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select id="heard" class="form-control" required>
                            <option value="sensor">Sensor</option>
                            <option value="switch">Switch</option>
                            <option value="buzzer">Buzzer</option>
                            <option value="others">Others</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="node-latitude" class="control-label col-md-3 col-sm-3 col-xs-12">Latitude </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="node-latitude" name="latitude" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="node-longitude" class="control-label col-md-3 col-sm-3 col-xs-12">Longitude </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="node-longitude" name="longitude" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Node Control</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div id="device-control" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                              <input type="radio" name="device_control" value="ENABLED"> &nbsp; ENABLED &nbsp;
                            </label>
                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                              <input type="radio" name="device_control" value="DISABLED"> DISABLED
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="max-data" class="control-label col-md-3 col-sm-3 col-xs-12">Max Data Record 
						</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="number" id="max-data" name="max_data_record" class="form-control col-md-7 col-xs-12" placeholder="100000000">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="node-eui" class="control-label col-md-3 col-sm-3 col-xs-12">EUI </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="node-eui" name="EUI" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="node-devaddr" class="control-label col-md-3 col-sm-3 col-xs-12">Device Address </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="node-devaddr" name="DevAddr" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="node-NwkSKey" class="control-label col-md-3 col-sm-3 col-xs-12">Nework Session Key </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="node-NwkSKey" name="NwkSKey" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="node-AppSKey" class="control-label col-md-3 col-sm-3 col-xs-12">Application Session Key </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="node-AppSKey" name="AppSKey" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <a href="/nodes/"><button class="btn btn-primary" type="button">Cancel</button></a>
						  <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>

        <!-- /page content -->


{% endblock %}

{% block script %}

    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.min.js' %}"></script>

{% endblock %}
