{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
        <!-- page content -->

        <div class="right_col" role="main">

          <!-- content -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Node Information <small>Custom design</small></h2>
					
					<div class="operation">
					<a href="/nodes/add"><span style="color:steelblue; font-size:20px;float: left;margin-left: 10px; cursor: pointer" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
                    <span style="color:steelblue; font-size:20px;float: left;margin-left: 10px; cursor: pointer" id="multi_del" class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                    </div>
					
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th>

                            <th class="column-title">No.</th>
                            <th class="column-title">Service ID</th>
                            <th class="column-title">Node ID</th>
                            <th class="column-title">Name</th>
                            <th class="column-title">Node Type</th>
                            <th class="column-title">Location</th>
                            <th class="column-title">Enable</th>
                            <th class="column-title">Status</th>
                            <th class="column-title no-link last"><span class="nobr">Action</span>
                            </th>
                            <th class="bulk-actions" colspan="9">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                        	<!-- display all of the current services by for loop -->
                        	{% for node in all_nodes %}

                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">{{ forloop.counter }}</td>
                            <td class=" "><a href="/services/detail/{{ node.service.service_id }}">{{ node.service.service_id }} </a></td>
                            <td class=" "><a href="/nodes/detail/{{ node.node_id }}">{{ node.node_id }} </a></td>
                            <td class=" "><a href="/nodes/detail/{{ node.node_id }}">{{ node.node_name }} </td>
                            <td class=" ">{{ node.node_type }} </i></td>
                            <td class=" ">[ E: {{ node.latitude }} | N: {{ node.longitude }} ]</td>
							{% if node.device_control == "ENABLED" %}
                            <td class=" "><span class="glyphicon glyphicon-ok  green" aria-hidden="true"></span></td>
							{% else %}
							<td class=" "><span class="glyphicon glyphicon-remove  red" aria-hidden="true"></span></td>
							{% endif %}
                            <td class=" ">{{ node.device_status }}</td>
                            
                            <td class=" last">
                            <a href="/nodes/modify/{{ node.node_id }}"><span class="glyphicon glyphicon-pencil  blue" aria-hidden="true"></span></a>
                            <!--a href="#"><span class="glyphicon glyphicon-remove-sign  red" aria-hidden="true"></span></a-->
							<span class="glyphicon glyphicon-remove-sign  red" aria-hidden="true" id="{{ node.node_id }}" onClick="delete_node(this.id)"></span>
                              </td>
                          </tr>
						  
						  {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>
              </div>

          <!-- /content -->

          <!-- content 2-->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Nodes Location<small></h2>

                    <div class="clearfix"></div>
                  </div>

                  <div id="geo_map" class="x_content" style="height:460px;">

                  </div>

                </div>
              </div>

          <!-- /content 2-->
          <div class="clearfix"></div>

          </div>
        <!-- /page content -->

{% endblock %}


{% block script %}

    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.min.js' %}"></script>



<!-- Geomap --> 
    <script src="https://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="https://webapi.amap.com/maps?v=1.3&key=9f0903994aaaca5964b34106c4520dee"></script>
    <script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
    <style type="text/css">
        .info {
            border: solid 1px silver;
        }
        div.info-top {
            position: relative;
            background: none repeat scroll 0 0 #F9F9F9;
            border-bottom: 1px solid #CCC;
            border-radius: 5px 5px 0 0;
        }
        div.info-top div {
            display: inline-block;
            color: #333333;
            font-size: 14px;
            font-weight: bold;
            line-height: 31px;
            padding: 0 10px;
        }
        div.info-top img {
            position: absolute;
            top: 10px;
            right: 10px;
            transition-duration: 0.25s;
        }
        div.info-top img:hover {
            box-shadow: 0px 0px 5px #000;
        }
        div.info-middle {
            font-size: 12px;
            padding: 6px;
            line-height: 20px;
        }
        div.info-bottom {
            height: 0px;
            width: 100%;
            clear: both;
            text-align: center;
        }
        div.info-bottom img {
            position: relative;
            z-index: 104;
        }
        span {
            margin-left: 5px;
            font-size: 11px;
        }
        .info-middle img {
            float: left;
            margin-right: 6px;
        }
    </style>
<script type="text/javascript">
  //地图初始化时，在地图上添加一个marker标记,鼠标点击marker可弹出自定义的信息窗体
    var map = new AMap.Map("geo_map", {
        resizeEnable: true,
        center: [113.95736,22.53765],
        zoom: 16
    });    

    {% for node in all_nodes %}
    addMarker("{{ node.latitude }}", "{{ node.longitude }}", "{{ node.node_id }}", "{{ node.node_name }}", "{{ node.node_type }}", "{{ node.device_status }}");
    {% endfor %}

    //添加marker标记
    function addMarker(l, s, id, name, type, status) {
        //map.clearMap();
        var marker = new AMap.Marker({
            map: map,
            position: [l, s]
        });
        //鼠标点击marker弹出自定义的信息窗体
        AMap.event.addListener(marker, 'click', function() {
            infoWindow.open(map, marker.getPosition());
        });
    

    //实例化信息窗体
    var title = name + '<span style="font-size:11px;color:#F00;">' + id +'</span>',
        content = [];
    content.push("类型：" + type);
    content.push("状态：" + status);
    content.push("<a href=detail/"+  id +">详细信息</a>");
    var infoWindow = new AMap.InfoWindow({
        isCustom: true,  //使用自定义窗体
        content: createInfoWindow(title, content.join("<br/>")),
        offset: new AMap.Pixel(16, -45)
    });

    }


    //构建自定义信息窗体
    function createInfoWindow(title, content) {
        var info = document.createElement("div");
        info.className = "info";

        //可以通过下面的方式修改自定义窗体的宽高
        //info.style.width = "400px";
        // 定义顶部标题
        var top = document.createElement("div");
        var titleD = document.createElement("div");
        var closeX = document.createElement("img");
        top.className = "info-top";
        titleD.innerHTML = title;
        closeX.src = "https://webapi.amap.com/images/close2.gif";
        closeX.onclick = closeInfoWindow;

        top.appendChild(titleD);
        top.appendChild(closeX);
        info.appendChild(top);

        // 定义中部内容
        var middle = document.createElement("div");
        middle.className = "info-middle";
        middle.style.backgroundColor = 'white';
        middle.innerHTML = content;
        info.appendChild(middle);

        // 定义底部内容
        var bottom = document.createElement("div");
        bottom.className = "info-bottom";
        bottom.style.position = 'relative';
        bottom.style.top = '0px';
        bottom.style.margin = '0 auto';
        var sharp = document.createElement("img");
        sharp.src = "https://webapi.amap.com/images/sharp.png";
        bottom.appendChild(sharp);
        info.appendChild(bottom);
        return info;
    }

    //关闭信息窗体
    function closeInfoWindow() {
        map.clearInfoWindow();
    }
	
	//删除node
	function delete_node(node_id)
      {
      var result = confirm("Are you sure to delete this node?");
      if (result) {
          //Logic to delete the item
          $.post( "/nodes/delete/"+node_id+"/", function( data ) {
            // $( ".result" ).html( data );  //insert data from the request to the page if need
            location.reload();   //Regresh the page

          });


      }
    };
</script>

<script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>
  
{% endblock %}
