{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
        <!-- page content -->

        <div class="right_col" role="main">

          <!-- content -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><a href="/services/">Node Information </a> > {{ loranode.node_name }} </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

				  <div class="row">
				    <!-- content 1 start -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="x_panel">
                        <div class="x_title">
                          <h2>Detail Information <small></small></h2>
                          <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                              </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                          <table class="table table-striped table-bordered tab">
                            <tbody>
                              <tr>
                                <th scope="row">Service ID</th>
                                <td>{{ loranode.service.service_id }}</td>
                              </tr>
                              <tr>
                                <th scope="row">Node ID</th>
                                <td>{{ loranode.node_id }}</td>
                              </tr>
                              <tr>
                                <th scope="row">Node Type</th>
                                <td>{{ loranode.node_type }}</td>
                              </tr>
                              <tr>
                                <th scope="row">Latitude</th>
                                <td>{{ loranode.latitude }}</td>
                              </tr>
							  <tr>
                                <th scope="row">Longitude</th>
                                <td>{{ loranode.longitude }}</td>
                              </tr>
							  <tr>
                                <th scope="row">ENABLED</th>
							    {% if loranode.device_control == "ENABLED" %}
                                <td class=" "><span class="glyphicon glyphicon-ok  green" aria-hidden="true"></span></td>
							    {% else %}
							    <td class=" "><span class="glyphicon glyphicon-remove  red" aria-hidden="true"></span></td>
							    {% endif %}
                              </tr>
							  <tr>
                                <th scope="row">Status</th>
                                <td>{{ loranode.device_status }}</td>
                              </tr>
							  <tr>
                                <th scope="row">Heartbeat Interveal</th>
                                <td>{{ loranode.heartbeat_interval }}</td>
                              </tr>
							  <tr>
                                <th scope="row">Max Data Record</th>
                                <td>{{ loranode.max_data_record }}</td>
                              </tr>
							  <tr>
                                <th scope="row">Battery</th>
                                <td>{{ loranode.battery }}</td>
                              </tr>
							  <tr>
                                <th scope="row">EUI</th>
                                <td>{{ loranode.EUI }}</td>
                              </tr>
							  <tr>
                                <th scope="row">Device Address</th>
                                <td>{{ loranode.DevAddr }}</td>
                              </tr>
							  <tr>
                                <th scope="row">Nework Session Key</th>
                                <td>{{ loranode.NwkSKey }}</td>
                              </tr>
							  <tr>
                                <th scope="row">Application Session Key</th>
                                <td>{{ loranode.AppSKey }}</td>
                              </tr>
                            </tbody>
                          </table>

                        </div>
                      </div>
                    </div>
					<!-- content1 end -->

                    <!-- content 2 start -->
			        <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="x_panel">
                        <div class="x_title">
                          <h2>Node Traffic <small>Per Month</small></h2>
                          <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                              </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                          <canvas id="lineChart1"></canvas>
                        </div>
                      </div>
				    </div>
					<!-- content 2 end -->

              <!-- content 3 start -->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Controls</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Type</th>
                          <th>Value</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Send message to this node</th>
                          <td>
                              <span class="glyphicon glyphicon-envelope blue" aria-hidden="true"></span> 

                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Enabled/Disable this node</th>
                          <td>
                              <span class="glyphicon glyphicon-pencil  blue" aria-hidden="true"></span> 
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Delete this node</th>
                          <td>
						      <span class="glyphicon glyphicon-remove-sign  red" aria-hidden="true" id="{{ node.node_id }}" onClick="delete_node(this.id)"></span>                           
                          </td>
                        </tr>                                        
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

              <!-- content 3 end-->
                 </div>

                </div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Node Data <small>{{ loranode.node_id }} </small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                      Recent Data received from the Node:
                    </p>
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>No.</th>
						  <th>Gateway ID</th>
                          <th>Time</th>
                          <th>Battery</th>
						  <th>RawData</th>						  
                        </tr>
                      </thead>

                      <tbody>
                        <!-- display all of the RawData for this node by for loop -->
                        {% for rawdata in rawdatas %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ rawdata.gateway }}</td>
						  <td>{{ rawdata.time }}</td>
						  <td>90%</td>
						  <td>{{ rawdata.data }}</td>
                        </tr>
						{% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

          <!-- content end -->

          <div class="clearfix"></div>

          </div>
        <!-- /page content -->

{% endblock %}

{% block script %}
    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
    <!-- Chart.js -->
    <script src="{% static 'vendors/Chart.js/dist/Chart.min.js' %}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.min.js' %}"></script>
    <!-- Datatables -->
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>

    <!-- Scripts for mybarChart -->
    <script>
      Chart.defaults.global.legend = {
        enabled: false
      };

	  // line chart
			  var ctx = document.getElementById("lineChart1");
			  var mylineChart = new Chart(ctx, {
				type: 'line',
				data: {
				  labels: ["January", "February", "March", "April", "May", "June", "July"],
				  datasets: [{
					label: "My First dataset",
					backgroundColor: "rgba(38, 185, 154, 0.31)",
					borderColor: "rgba(38, 185, 154, 0.7)",
					pointBorderColor: "rgba(38, 185, 154, 0.7)",
					pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
					pointHoverBackgroundColor: "#fff",
					pointHoverBorderColor: "rgba(220,220,220,1)",
					pointBorderWidth: 1,
					data: [31, 74, 6, 39, 20, 85, 7]
				  }, {
					label: "My Second dataset",
					backgroundColor: "rgba(3, 88, 106, 0.3)",
					borderColor: "rgba(3, 88, 106, 0.70)",
					pointBorderColor: "rgba(3, 88, 106, 0.70)",
					pointBackgroundColor: "rgba(3, 88, 106, 0.70)",
					pointHoverBackgroundColor: "#fff",
					pointHoverBorderColor: "rgba(151,187,205,1)",
					pointBorderWidth: 1,
					data: [82, 23, 66, 9, 99, 4, 2]
				  }]
				},
			  });	  

	//删除node
	function delete_node(node_id)
      {
      var result = confirm("Are you sure to delete this node?");
      if (result) {
          //Logic to delete the item
          $.post( "/nodes/delete/"+node_id+"/", function( data ) {
            // $( ".result" ).html( data );  //insert data from the request to the page if need
            location.reload();   //Regresh the page

          });


      }
    };


    </script>


{% endblock %}
