{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
        <!-- page content -->

        <div class="right_col" role="main">

          <!-- content -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Service Information <small>Custom design</small></h2>
			
                    <div class="operation">
					<a href="/services/add"><span style="color:steelblue; font-size:20px;float: left;margin-left: 10px; cursor: pointer" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
                    <span style="color:steelblue; font-size:20px;float: left;margin-left: 10px; cursor: pointer" id="multi_del" class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                    </div>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th>

                            <th class="column-title">No.</th>

                            <th class="column-title">Service ID</th>
                            <th class="column-title">Name</th>

                            <th class="column-title">Max Nodes</th>
                            <th class="column-title">Current Nodes</th>
                            <th class="column-title no-link last"><span class="nobr">Action</span>
                            </th>
                            <th class="bulk-actions" colspan="9">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                        	
                        	<!-- display all of the current services by for loop -->
                        	{% for service in all_services %}

                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">{{ forloop.counter }}</td>
                            <td class=" "><a href="/services/detail/{{ service.service_id }}">{{ service.service_id }} </a></td>
                            <td class=" "><a href="/services/detail/{{ service.service_id }}">{{ service.service_name }} </a></td>
                            <td class=" ">{{ service.max_nodes }}</td>
                            <td class=" ">15</td>

                            <td class=" last">
                            <a href="/services/modify/{{ service.service_id }}"><span class="glyphicon glyphicon-pencil  blue" aria-hidden="true"></span></a>
                            <!-- <a href="/services/delete/{{ service.service_id }}"></a> -->
                            <span class="glyphicon glyphicon-remove-sign  red" aria-hidden="true" id="{{ service.service_id }}" onClick="delete_service(this.id)"></span>
                              </td>
                          </tr>

                          {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>
              </div>
			  <!-- display the service in the world map -->

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Service Location <small>geo-presentation</small></h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="dashboard-widget-content">
                        <div class="col-md-4 hidden-small">
                          <h2 class="line_30">137 Services from 16 countries</h2>

                          <table class="countries_list">
                            <tbody>
                              <tr>
                                <td>China</td>
                                <td class="fs15 fw700 text-right">33%</td>
                              </tr>
                              <tr>
                                <td>United States</td>
                                <td class="fs15 fw700 text-right">27%</td>
                              </tr>
                              <tr>
                                <td>Germany</td>
                                <td class="fs15 fw700 text-right">16%</td>
                              </tr>
                              <tr>
                                <td>Spain</td>
                                <td class="fs15 fw700 text-right">11%</td>
                              </tr>
                              <tr>
                                <td>Britain</td>
                                <td class="fs15 fw700 text-right">10%</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div id="world-map-gdp" class="col-md-8 col-sm-12 col-xs-12" style="height:230px;"></div>
                      </div>
                    </div>
                  </div>
                </div>

          <!-- /content -->

          <div class="clearfix"></div>

          </div>
        <!-- /page content -->

{% endblock %}

{% block script %}

    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
    <!-- JQVMap -->
    <script src="{% static 'vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
	
    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.min.js' %}"></script>

<script type="text/javascript">

      $(document).ready(function() {
        $(".glyphicon-remove-sign").hover(function() {
            // alert("good");
          $('html,body').css('cursor','pointer');
        },function() {
            // alert("good");
          $('html,body').css('cursor','auto')
        });

      });


      function delete_service(service_id)
      {
      var result = confirm("Want to delete?");
      if (result) {
          //Logic to delete the item
          alert("Will delete it! " +service_id);
          // /services/delete/{{ service.service_id }}


          $.post( "/services/delete/"+service_id, function( data ) {
              // alert("Delete Finish on " + service_id);
            // $( ".result" ).html( data );  //insert data from the request to the page if need
            location.reload();   //Regresh the page

          });


      }
    };





</script>
{% endblock %}

